<!DOCTYPE html>
<html>
<head>
<style>
#div1 {
    border-bottom: 3px solid black;        
}
#div2 {
  font-size: 12px;
}
#hhh{
  font-family:Tahoma;
  text-transform: capitalize;
  font-weight:normal; 	
  foreground-color: #202EFF;	
}
</head>
</style>
    <body>
<div  class="navigation-wrapper">
	<div class="site-name">
		<a id = "hhh" href="{{ site.url }}"><strong>{{ site.title }}</strong></a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.links %}
				<li id="hhh"><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li> 
			{% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
	</body>
	</html>
